In [3]:
import pandas as pd
df = pd.read_csv("C:/Users/Dell/Desktop/dataset2.csv")
df.head(5)

           f1           f2           f3          f4          f5  target
0 -272.454777   468.613536  -842.286623  572.695784 -687.899895       0
1 -308.353837   700.943567    92.784465  -80.491097 -688.127360       0
2 -274.644338  1181.384499  1743.731899  353.031873 -687.953315       0
3 -270.346258   620.286159   937.707794  312.270129 -688.011625       0
4 -289.421521   825.666823   197.163482  195.133563 -687.980375       0

In [2]:
df.groupby('target').mean()

                f1          f2          f3          f4          f5
target
0      -251.084456  907.847166  462.576782  200.658443 -687.965208
1      -254.950277  884.691155  430.809737  121.662187 -687.966876

# observations

Binary Class (Target Column) : 0 or 1

When you compare the means of f3 and f4 column for target class 0 and class 1, some difference is there
whereas for column f1,f2,f5 the means values are very close for 0 & 1

In [123]:
subdf = df[['f3','f4']]
X = subdf

In [124]:
y = df.target

In [125]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.3)

c:\users\dell\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [126]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [127]:
model.fit(X_train, y_train)

c:\users\dell\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [128]:
model.score(X_test,y_test)

0.9495238095238095

In [129]:
d = pd.read_csv("C:/Users/Dell/Desktop/line_eval.csv")
d.head(3)

    f3     f4
0  439  700.0
1  408  600.0
2  445  500.0

In [130]:
model.predict(d)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [131]:
out_put = model.predict(d)
d['Prediction'] = out_put

In [133]:
d.to_csv("C:/Users/Dell/Desktop/line_final_result.csv",index=False)